<% @categories.each do |category| %>
<li>
  <!--   <div class="container category-container">
        <a href="/categories/<%=category.id%>" class="black-text"><h3 class="center-align"><%=category.category %></h3></a>
        </h1>
    </li> -->
<!--      <div class="chip">
    <%=category.category %>
    <i class="close material-icons">close</i>
  </div> -->
  <br>
        <div class="chip">
    <%=category.category %>
    <form action="/categories/<%=category.id%>" method="post" class="menu-btn">
        <input type="hidden" name="_method" value="delete">
        <button class="btn-floating transparent tooltipped delete-category" data-position="bottom" data-delay="50" data-tooltip="Delete" type="submit"><i class="material-icons">delete_forever</i></button>
        </div>
    </form>

    <% end %>
    <!-- Add Category Modal -->
    <div id="new_category" class="modal">
        <div class="modal-content">
            <a class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
            <h4 class="center-align">New Category</h4>
            <form action="/categories" method="post">
                <div class="input-field">
                    <label>Category</label>
                    <input type="text" name="category_body" id="category_body" required>
                </div>
                <div class="submit-btn">
                    <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Add Pun Modal -->
    <div id="new_pun" class="modal">
        <div class="modal-content">
            <a class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
            <h4 class="center-align">New Pun</h4>
            <input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
            <select id="category_id" name="category_id" type="text" class="browser-default">
                <% @categories.each do |category| %>
                <option value="<%= category.id()%>">
                    <%= category.category %>
                </option>
                <% end %>
            </select>
            <br>
            <div class="input-field">
                <label>Pun Body</label>
                <input type="text" name="pun_body" id="pun_body" required>
            </div>
            <div class="submit-btn">
                <form action="/puns" method="post">
                    <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!--FAB-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large black">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating red tooltipped" href="#new_category" modal-trigger data-position="left" data-delay="50 " data-tooltip="New Category "><i class="material-icons ">add</i></a></li>
            </ul>
        </div>
        <!--FAB-->