<%= @user.username %>
<a href="/user/logout"><button class="btn" name="button">Logout</button></a>
<% if @puns.any? %>
    <h3 class="center-align teal-text">Code related puns</h3>
    <% @puns.each do |pun| %>
        <li>
            <div class="container pun-container">
                <a href="/puns/<%=pun.id%>" class="black-text"><h3 class="center-align"><%= pun.pun %></h3></a>
                <div class="submit-btn">
                    <div class="row">
                      <div class="col s4">
                        <form action="/puns/<%= pun.id %>/upvote" method="post">
                          <input type="hidden" name="_method" value="patch">
                          <%= pun.upvote %><button type="submit" class="tooltipped btn-floating btn-large waves-effect waves-light yellow" data-position="top" data-delay="50" data-tooltip="Upvote"><i class="em em-joy"></i></button>
                        </form>
                      </div>

                      <div class="col s4">
                        <form action="/puns/<%= pun.id %>/downvote" method="post">
                          <input type="hidden" name="_method" value="patch">
                          <%= pun.downvote %><button class="tooltipped btn-floating btn-large waves-effect waves-light red" data-position="bottom" data-delay="50" data-tooltip="Downvote">
                              <i class="em em-angry"></i></button>
                        </form>
                      </div>

                      <div class="col s4">
                        <form action="/puns/<%= pun.id %>/blonde" method="post">
                          <input type="hidden" name="_method" value="patch">
                          <%= pun.blonde %><button class="tooltipped btn-floating btn-large waves-effect waves-light green" data-position="right" data-delay="50" data-tooltip="Blonde"><i class="em em-confused"></i></a></button>
                        </form>
                      </div>

                    </div>

                </div>
                </h1>
        </li>
        <% end %>
            <% else %>
                <p>no puns but dont panic! yet...</p>
                <% end %>
                    <!-- Add Pun Modal -->
                    <div id="new_pun" class="modal">
                        <div class="modal-content">
                            <h4 class="center-align">NEW PUN</h4>
                            <a class="modal-action modal-close waves-effect waves-green btn-flat right"><i class="material-icons">close</i></a>
                            <form action="/puns" method="post">
                                <div class="input-field">
                                    <label>Pun Body</label>
                                    <input type="text" name="pun_body" id="pun_body" required>
                                </div>
                                <div class="input-field">
                                    <label>Chef</label>
                                    <input type="text" name="user_name" id="user_name" required>
                                </div>
                                <div class="submit-btn">
                                    <button class="btn indigo waves-effect waves-light black" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
